*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    
}

.navbar {
    margin-bottom: 5%;
}

#size{
    height: auto;
}
